<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.daenerys3.demo.web.repo.dao.mapper.EnvMapper">

    <sql id="COLS_INSERT">
        name, description, create_by, update_by
    </sql>
    <sql id="COLS_ALL">
        id, <include refid="COLS_INSERT"/>
    </sql>

    <select id="paginate" resultType="Env">
        SELECT <include refid="COLS_ALL"/>
        FROM env
        <where>
            <if test="name != null">AND name=#{name}</if>
        </where>
    </select>

</mapper>