<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.daenerys3.web.demo.repo.dao.mapper.EnvMapper">

    <sql id="COLS_INSERT">
        name, description, create_by, update_by
    </sql>
    <sql id="COLS_ALL">
        id, <include refid="COLS_INSERT"/>
    </sql>

    <select id="paginateByName" resultType="Env">
        SELECT <include refid="COLS_ALL"/>
        FROM env
        WHERE name = #{name}
    </select>

</mapper>